[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/prb-test"]
	branch = "0.6.1"
	path = lib/prb-test
	url = https://github.com/PaulRBerg/prb-test
[submodule "lib/solbase"]
	branch = 'e12d00b'
	path = lib/solbase
	url = https://github.com/Sol-Dao/solbase
[submodule "lib/dagon"]
	path = lib/dagon
	url = https://github.com/Moloch-Mystics/dagon
